<div class="nav-header">
    <nav class="nav-wrapper" aria-label="{{ 'main' | lang }}">

        {% if _blog.logo_url %}
            <span class="logo">
                <a
                    href="{{ _blog.logo_url }}"
                    title="{{ 'home' | lang }}">
                    <img src="{{ _blog.logo_url }}" alt="{{ 'logo' | lang }}" />
                </a>
            </span>
        {% endif %}

        {% include '_nav.twig' with {'navs': _blog.nav_header} %}

        <ul class="nav-meta">

            {% if _blog.languages | length > 1 %}
                <li class="nav-lang">
                    <a class="lang-label" role="label" onclick="toggleLanguageDropdown()">{{ _lang.code }}</a>
                    <div class="lang-selector">
                        {% for lang in _blog.languages %}
                            <a
                                href="{{ lang.code | language_variant_url }}"
                                class="{% if lang.code == _lang.code %}active{% endif %}"
                            >{{ lang.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="lang-selector-closer" onclick="toggleLanguageDropdown()"></div>
                </li>
            {% endif %}

            {% include '_social.twig' with {'social': _blog.social} %}


            <li class="nav-search">
                <a title="{{ 'search' | lang }}">
                    <i aria-hidden="true">{{ icon('fontawesome', 'magnifying-glass-solid', 14) }}</i>
                    <span>{{ 'search' | lang }}</span>
                </a>
            </li>
        </ul>

    </nav>

    <div class="nav-wrapper-control">
        <div class="inner">
            <a class="nav-menu" onclick="menu()" role="button"><i aria-hidden="true">{{ icon('fontawesome', 'bars-solid') }}</i>{{ 'menu' | lang }}</a>
            <a class="nav-search" style="display: none;" title="{{ 'search' | lang }}" role="button"><i aria-hidden="true">{{ icon('fontawesome', 'magnifying-glass-solid') }}</i></a>
        </div>
    </div>
</div>



<div class="nav-close" onclick="menu()" role="button" aria-label="{{ 'close' | lang }}"></div>