{% if _pagination.page > 1 %}
	<div class="extra-pagination">
		{% include '_pagination.twig' %}
	</div>
{% endif %}

{% for post in _posts %}

	{% set primary_tag = post.tags[0] %}

	<article class="post">
		<div class="inner">
			<div class="box post-box">
				<h2 class="post-title">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h2>
				<span class="post-meta">
					{{ 'by' | lang }}
					{% for author in post.authors %}
						<a href="{{ author.url }}">{{ author.name }}</a>
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
					{{ 'in' | lang }}
					<a class="post-meta-tag" href="{{ primary_tag.url }}">
						{{ primary_tag.name }}
					</a>
					{{ 'on' | lang }}

					{%if (_config.settings.loop.published_date) %}
						<time datetime="{{ post.published_at | date('d-m-Y') }}">
							{{ post.published_at | date('d M Y') }}
						</time>
					{% endif %}
				</span>
				<p class="post-excerpt">{{ post.description }}&hellip;</p>
			</div>
		</div>
	</article>

{% endfor %}

{% include '_pagination.twig' %}
