
{% import "_macro.twig" as macro %}

<footer>

    <div class="container">

        <div class="social">
            {% include '_social.twig' with { social: _blog.social } %}
            {% if _config.settings.footer.feed_icon %}{{ macro.social_icon("feed" | lang, _blog.url ~ "/feed", 'rss-solid') }}{% endif %}
        </div>

        <nav>
            {% for nav in _blog.nav_footer %}
                <a class="nav global-scaling-link" href="{{ nav.url }}">
                    <span>{{ nav.name }}</span>
                </a>
            {% endfor %}
        </nav>

        {% if _blog.languages | length > 1 %}
            <div class="nav-lang">
                <a class="lang-label" role="label" onclick="toggleLanguageDropdown()">
                    <span>{{ _lang.name }}&nbsp</span>{{ icon('fontawesome', 'earth-asia-solid', 18) }}
                </a>
                <div id="lang-selector">
                    {% for lang in _blog.languages %}
                        <a
                            href="{{ lang.code | language_variant_url }}"
                            class="{% if lang.code == _lang.code %}active{% endif %}"
                        >{{ lang.name }}{% if _lang.code == lang.code %}<span class="bull">&bull;</span>{% endif %}</a>
                    {% endfor %}
                </div>
                <div id="lang-selector-closer" onclick="toggleLanguageDropdown()"></div>
            </div>
        {% endif %}

    </div>

</footer>