<div class="search-wrapper">
	<div class="search">
		<form class="search-form">
			<input class="search-field" type="text" placeholder="{{ 'search' | lang }}…">
			<button class="search-button" type="submit">
				<i aria-hidden="true">{{ icon('fontawesome', 'magnifying-glass-solid') }}</i>
			</button>
		</form>
		<div class="popular-wrapper">
			<h4 class="popular-title">{{ 'tags' | lang }}</h4>
			<span class="popular-tags post-tags">
				{% set tags = data(endpoint="tags", keys="name,url,posts_count", limit="10").data %}
				{% for tag in tags %}
					<a href="{{ tag.url }}" class="global-tag">{{ tag.name }}:
						{{ tag.posts_count }}</a>
				{% endfor %}
			</span>
		</div>
		<div class="search-result"></div>
	</div>
	<button class="search-wrapper-close" aria-label="{{ 'close' | lang }}"></button>
</div>
