<!DOCTYPE html>
<html lang="{{ _lang.code }}" dir="{{ _lang.direction }}">

	<head>
	<style>
		:root {
			--fontSize-root: {{ _config.fonts.base_font_size }}px;
			--fontFamily-mono: {{ _config.fonts.family_mono | raw }};
			--fontFamily-sans: {{ _config.fonts.family_sans | raw }};
		}

		.mode-light:root {
			--color-text-base-color: {{ _config.colors.light.text_base_color }};
			--color-text-link-blue: {{ _config.colors.light.text_link_blue }};
			--color-text-link-blue-active: {{ _config.colors.light.text_link_blue_active }};
			--color-black: {{ _config.colors.light.black }};
			--color-light: {{ _config.colors.light.light }};
			--color-smoke: {{ _config.colors.light.smoke }};
			--color-gray: {{ _config.colors.light.gray }};
			--color-white: {{ _config.colors.light.white }};
		}

		.mode-dark:root {
			--color-text-base-color: {{ _config.colors.dark.text_base_color }};
			--color-text-link-blue: {{ _config.colors.dark.text_link_blue }};
			--color-text-link-blue-active: {{ _config.colors.dark.text_link_blue_active }};
			--color-black: {{ _config.colors.dark.black }};
			--color-light: {{ _config.colors.dark.light }};
			--color-smoke: {{ _config.colors.dark.smoke }};
			--color-gray: {{ _config.colors.dark.gray }};
			--color-white: {{ _config.colors.dark.white }};
		}
	</style>

	{{ _head | template }}

	<script src="{{ 'script.js' | asset_url }}"></script>

</head>

<body data-theme="{{ site.mode }}" class="notransition">

	{% include '_header.twig'  with {'navs': _blog.nav_header} %}

	<div class="wrapper">
		<main aria-label="Content">
			{%- block body -%}
		{%- endblock -%}
	</main>
	{% include '_footer.twig' %}

	{{ _foot | template }}
</div></body></html>
