<footer class="footer">
	<a class="footer_item" href="/thanks">{{ 'ack' | lang }}</a>
	<a class="footer_item" href="javascript::void(0)">{{ 'resume' | lang }}</a>
	<a class="footer_item" href="/feed">{{ 'rss' | lang }}</a>
	<span class="footer_item">&copy;
		{{ 'now' | date('Y') }}
	</span>
	<small
		class="footer_copyright">
		<!-- Klisé Theme: https://github.com/piharpi/jekyll-klise -->
		<a href="https://github.com/piharpi/jekyll-klise" target="_blank" rel="noreferrer noopener">klisé</a>
		{{ 'theme_on' | lang }}
		<a href="https://jekyllrb.com" target="_blank" rel="noreferrer noopener">jekyll</a>
	</small>
</footer>
