<nav class="pagination" aria-label="{{ 'pagination' | lang }}">
	<div class="inner">
		<div class="box pagination-box">
			{% if _pagination.page_prev %}
				<a title="{{ 'newer_posts' | lang }}" class="pagination-next" href="{{ _pagination.page_prev | pagination_page_url }}">
					<i>{{ icon('fontawesome', 'arrow-left-solid') }}</i>
					<span class="pagination-label">{{ 'newer_posts' | lang }}</span>
				</a>
			{% endif %}
			<span class="pagination-info">{{ 'page_of_pages' | lang(page=_pagination.page, pages=_pagination.pages) }}</span>
			{% if _pagination.page_next %}
				<a title="{{ 'older_posts' | lang }}" class="pagination-prev" href="{{ _pagination.page_next | pagination_page_url }}">
					<span class="pagination-label">{{ 'older_posts' | lang }}</span>
					<i>{{ icon('fontawesome', 'arrow-right-solid') }}</i>
				</a>
			{% endif %}
		</div>
	</div>
</nav>
