{% extends '@base.twig' %}

{% block body %}

	<div class="wrapper post" role="main">
		<main class="page-content" aria-label="Content">
			<article itemscope itemtype="https://schema.org/BlogPosting">
				<header class="header">
					{% if _post.tags %}
						<div class="tags">
							<span itemprop="keywords">
								{% for tag in _post.tags %}
									<a class="tag" href="{{ tag.url }}">{{ tag.name }}</a>,
								{% endfor %}
							</span>
						</div>
					{% endif %}

					<h1 class="header-title" itemprop="headline">{{ _post.title }}</h1>
					<div class="post-meta">
						<time itemprop="datePublished" datetime="{{ post.published_at | date('d-m-Y') }}">
							{{ post.published_at | date('M d, Y') }}
						</time>
						{% for author in _post.authors %}
							<span itemprop="author" itemscope="" itemtype="https://schema.org/Person">
								<span itemprop="name">{{ author.name }}</span>
							</span>
							{% if not loop.last %}
								,
							{% endif %}
						{% endfor %}

						<span itemprop="author" itemscope itemtype="https://schema.org/Person">
							<span itemprop="name">{{ site.author.name }}</span>
						</span>

						<span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
						<span hidden itemprop="image">{{ _post.image }}</span>
						<span hidden itemprop="mainEntityOfPage">{{ _post.excerpt }}</span>
					</div>
				</header>

				<div class="page-content" itemprop="articleBody">
					{{ _post.content | raw }}
				</div>
			</article>

			{% if _post.comments %}
				{% include comments.html %}
			{% endif %}
		</main>

		<aside class="post-nav">

			{% set keys = "url,title" %}

			{% set next_post = data(
                        endpoint="posts",
                        filter="published_at>#{_post.published_at}",
                        sort="published_at ASC",
                        limit=1,
                        keys=keys
                    ).data.0 %}

			{% set prev_post = data(
                        endpoint="posts",
                        filter="published_at<#{_post.published_at}",
                        sort="published_at DESC",
                        limit=1,
                        keys=keys
                    ).data.0 %}


			{% if prev_post %}
				<a class="post-nav-item post-nav-prev" href="{{ prev_post.url }}">
					<div class="nav-arrow">Previous</div>
					<span class="post-title">{{ prev_post.title }}</span>
				</a>
			{% endif %}

			{% if next_post %}
				<a class="post-nav-item post-nav-next" href="{{ next_post.url }}">
					<div class="nav-arrow">Next</div>
					<span class="post-title">{{ next_post.title }}</span>
				</a>
			{% endif %}

			<div class="clear"></div>
		</aside>
	</div>

{% endblock %}
