<header>
    <nav>

        <a
            class="brand"
            href="{{ _blog.url }}"
        >
            {% if _blog.logo_url %}
                <img src="{{ _blog.logo_url }}" alt="{{ 'logo' | lang }}" />
            {% endif %}
            <span class="name">{{ _blog.name }}</span>
        </a>

        <div class="nav-links">
            {% for nav in _blog.nav_header %}
                <a class="global-scaling-link nav-{{ nav.name | lower | slug }}{% if is_current_url(nav.url) %} active{% endif %}" href="{{ nav.url }}">
                    <span>{{ nav.name }}</span>
                </a>
            {% endfor %}
        </div>


        {% if (_blog.color_modes == 'both') %}
            <div class="color-mode-toggler">
                <a onclick="_hb.changeColorMode('light')">{{ icon('fontawesome', 'sun-solid', 18) }}</a>
                <a onclick="_hb.changeColorMode('dark')">{{ icon('fontawesome', 'moon-solid', 18) }}</a>
            </div>
        {% endif %}

    </nav>
</header>