{# DEPENDING ON social variable #}

{% if social.twitter %}
    <a
            target="_blank"
            href="{{ social.twitter }}"
            title="{{ 'twitter' | lang }}">
        <i class="icon" aria-hidden="true">{{ icon('fontawesome', 'twitter', 20) }}</i>
    </a>
{% endif %}
{% if social.facebook %}
    <a
            target="_blank"
            href="{{ social.facebook }}"
            title="{{ 'facebook' | lang }}">
        <i class="icon" aria-hidden="true">{{ icon('fontawesome', 'facebook', 20) }}</i>
    </a>
{% endif %}
{% if social.linkedin %}
    <a
            target="_blank"
            href="{{ social.linkedin }}"
            title="{{ 'linkedin' | lang }}">
        <i class="icon" aria-hidden="true">{{ icon('fontawesome', 'linkedin', 20) }}</i>
    </a>
{% endif %}
{% if social.youtube %}
    <a
            target="_blank"
            href="{{ social.youtube }}"
            title="{{ 'youtube' | lang }}">
        <i class="icon" aria-hidden="true">{{ icon('fontawesome', 'youtube', 20) }}</i>
    </a>
{% endif %}
{% if social.tiktok %}
    <a
            target="_blank"
            href="{{ social.tiktok }}"
            title="{{ 'tiktok' | lang }}">
        <i class="icon" aria-hidden="true">{{ icon('fontawesome', 'tiktok', 20) }}</i>
    </a>
{% endif %}
{% if social.instagram %}
    <a
            target="_blank"
            href="{{ social.instagram }}"
            title="{{ 'instagram' | lang }}">
        <i class="icon" aria-hidden="true">{{ icon('fontawesome', 'instagram', 20) }}</i>
    </a>
{% endif %}
{% if social.github %}
    <a
            target="_blank"
            href="{{ social.github }}"
            title="{{ 'github' | lang }}">
        <i class="icon" aria-hidden="true">{{ icon('fontawesome', 'github', 20) }}</i>
    </a>
{% endif %}