<!DOCTYPE html>
<html lang="{{ _lang.code }}" dir="{{ _lang.direction }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        :root {
            --color-accent: {{ _config.colors.light.accent_color }};
            --color-accent-dark: {{ _config.colors.dark.accent_color }};
            --color-primary-text-light: {{ _config.colors.light.primary_text_color }};
            --color-secondary-text-light: {{ _config.colors.light.secondary_text_color }};
            --color-primary-text-dark: {{ _config.colors.dark.primary_text_color }};
            --color-secondary-text-dark: {{ _config.colors.dark.secondary_text_color }};

            --font-body: {{ _config.fonts.body.family }};
            --font-heading: {{ _config.fonts.heading.family }};
            --font-content: {{ _config.fonts.content.family }};
            --font-code: {{ _config.fonts.code.family }}
        }
    </style>
    {{ _head | template }}    
</head>
<body class="is-head-stacked has-serif-body is-dropdown-loaded">

    <div class="hy-site">

    {% include "_header.twig" %}

    {% block body %}{% endblock %}

    {% include "_footer.twig" %}

    {% include "_search.twig" %}

    </div>

    <script src="{{ 'main.js' | asset_url }}"></script>
    <script src="{{ 'search.js' | asset_url }}"></script>

    {{ _foot | template }}
</body>