<article class="gh-card post tag-{{ post.title | lower | slug }} large">
    <a class="gh-card-link" href="{{ post.url }}">
        {% if post.featured_image_url and _config.settings.post.featured_image %}
        <figure class="gh-card-image">
            <img srcset="{{ post.featured_image_url }}" src="{{ post.featured_image_url }}" alt="{{ post.title }}" class="featured-image">
        </figure>
        {% endif %}

        <div class="gh-card-wrapper">
            <header class="gh-card-header"><h3 class="gh-card-title">{{ post.title }}</h3></header>

                <div class="gh-card-excerpt">
                    {{ post.description }}
                </div>

            <footer class="gh-card-footer">
                <span class="gh-card-author">
                {% if (_config.settings.loop.authors) %}
                    {% for author in post.authors %}
                        {{ author.name }}
                    {% endfor %}
                {% endif %}
                </span>
                <time class="gh-card-date" datetime="2022-03-03">
                {{ post.published_at | format_date('long', locale=_lang.code)}}
                </time>
            </footer>
        </div>
    </a>
</article> 