{% extends "@base.twig" %}
{% block body %}
<main class="home-template hy-main hy-outer">
    <div class="hy-inner">

        <section class="hy-topic hy-topic-grid">
            <h2 class="hy-topic-name">
                {{ 'latest' | lang }}
            </h2>
            <div class="hy-topic-content">
                {% if _pagination.page == 1 %}
                {% set large_post = data(endpoint="posts", sort="is_featured DESC", language=_lang.code, limit="1") %}
                {% for post in large_post.data %}
                {% include '_card-large.twig' %}
                {% endfor %}
                {% endif %}
                {% include '_loop.twig' %}          
            </div>
            {% include '_pagination.twig' %}
        </section>

        {% if _pagination.page == 1 %}

        {% if _config.settings.home.tag_1.show %}
        <section class="hy-topic hy-topic-grid">
            <h2 class="hy-topic-name">
                <a href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_1.slug }}">{{ _config.settings.home.tag_1.slug }}</a>
            </h2>
            <div class="hy-topic-content">
                {% set large_post_tag_1 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_1.slug}", language=_lang.code, limit="1") %}
                {% for post in large_post_tag_1.data %}
                {% include '_card-large.twig' %}
                {% endfor %}    
                {% set regular_post_tag_1 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_1.slug}", language=_lang.code, limit="6") %}
                {% for post in regular_post_tag_1.data %}
                {% include '_card.twig' %}
                {% endfor %}            
            </div>
            <footer class="hy-topic-footer">
                <a class="hy-topic-link" href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_1.slug }}">
                    {{ 'show more' | lang }} 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </a>
            </footer>
        </section> 
        {% endif %}

        {% if _config.settings.home.tag_2.show %}
        <section class="hy-topic hy-topic-grid">
            <h2 class="hy-topic-name">
                <a href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_2.slug }}">{{ _config.settings.home.tag_2.slug }}</a>
            </h2>
            <div class="hy-topic-content">
                {% set large_post_tag_2 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_2.slug}", language=_lang.code, limit="1") %}
                {% for post in large_post_tag_2.data %}
                {% include '_card-full.twig' %}
                {% endfor %}    
                {% set regular_post_tag_2 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_2.slug}", language=_lang.code, limit="6") %}
                {% for post in regular_post_tag_2.data %}
                {% include '_card.twig' %}
                {% endfor %}            
            </div>
            <footer class="hy-topic-footer">
                <a class="hy-topic-link" href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_2.slug }}">
                    {{ 'show more' | lang }} 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </a>
            </footer>
        </section>   
        {% endif %}  

        {% if _config.settings.home.tag_3.show %}
        <section class="hy-topic hy-topic-grid">
            <h2 class="hy-topic-name">
                <a href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_3.slug }}">{{ _config.settings.home.tag_3.slug }}</a>
            </h2>
            <div class="hy-topic-content">
                {% set large_post_tag_3 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_3.slug}", language=_lang.code, limit="1") %}
                {% for post in large_post_tag_3.data %}
                {% include '_card-large.twig' %}
                {% endfor %}    
                {% set regular_post_tag_3 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_3.slug}", language=_lang.code, limit="6") %}
                {% for post in regular_post_tag_3.data %}
                {% include '_card.twig' %}
                {% endfor %}            
            </div>
            <footer class="hy-topic-footer">
                <a class="hy-topic-link" href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_3.slug }}">
                    {{ 'show more' | lang }} 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </a>
            </footer>
        </section>
        {% endif %}

        {% endif %}
        
        <div class="hy-topic-list">

            {% if _config.settings.home.tag_4.show %}
            <section class="hy-topic hy-topic-minimal">
                <header class="hy-topic-header">
                    <h2 class="hy-topic-name">
                        <a href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_4.slug }}">{{ _config.settings.home.tag_4.slug }}</a>
                    </h2>
                    <a class="hy-topic-link" href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_4.slug }}">
                        {{ 'more' | lang }} 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </a>
                </header>
                <div class="hy-topic-content">
                {% set regular_post_tag_4 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_4.slug}", limit="5") %}
                {% for post in regular_post_tag_4.data %}
                {% include '_card-small.twig' %}
                {% endfor %}
                </div>
            </section>
            {% endif %}

            {% if _config.settings.home.tag_5.show %}
            <section class="hy-topic hy-topic-minimal">
                <header class="hy-topic-header">
                    <h2 class="hy-topic-name">
                        <a href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_5.slug }}">{{ _config.settings.home.tag_5.slug }}</a>
                    </h2>
                    <a class="hy-topic-link" href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_5.slug }}">
                        {{ 'more' | lang }} 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </a>
                </header>
                <div class="hy-topic-content">
                {% set regular_post_tag_5 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_5.slug}", limit="5", language=_lang.code) %}
                {% for post in regular_post_tag_5.data %}
                {% include '_card-small.twig' %}
                {% endfor %} 
                </div>
            </section>
            {% endif %}

            {% if _config.settings.home.tag_6.show %}
            <section class="hy-topic hy-topic-minimal">
                <header class="hy-topic-header">
                    <h2 class="hy-topic-name">
                        <a href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_6.slug }}">{{ _config.settings.home.tag_6.slug }}</a>
                    </h2>
                    <a class="hy-topic-link" href="{{ _blog.url }}/tag/{{ _config.settings.home.tag_6.slug }}">
                        {{ 'more' | lang }} 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </a>
                </header>
                <div class="hy-topic-content">
                {% set regular_post_tag_6 = data(endpoint="posts?filter=tag.slug=#{_config.settings.home.tag_6.slug}", language=_lang.code, limit="5") %}
                {% for post in regular_post_tag_6.data %}
                {% include '_card-small.twig' %}
                {% endfor %} 
                </div>
            </section>
            {% endif %}
              
        </div>
    </div>
</main>
{% endblock %}