{% extends '@base.twig' %}

{% block body %}

	<main class="post-template hy-main">
		<article class="hy-article post">

			<header class="hy-article-header hy-canvas">

				<div class="hy-article-tags">
					{% if (_config.settings.post.tags) %}
						{% for tag in _post.tags %}
							<a class="hy-article-tag" href="{{ tag.url }}">{{ tag.name }}</a>
						{% endfor %}
					{% endif %}
				</div>

				<h1 class="hy-article-title">{{ _post.title }}</h1>

				<aside class="hy-article-sidebar">
					<div class="hy-author-image-list">
						{% if (_config.settings.loop.authors) %}
							{% for author in _post.authors %}
								{% if author.picture_url %}
									<a class="hy-author-image" href="{{ author.url }}">
										<img src="{{ author.picture_url }}" alt="{{ author.name }}">
									</a>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
					<div class="hy-author-name-list">
						{% if (_config.settings.loop.authors) %}
							{% for author in _post.authors %}
								<h4 class="hy-author-name">
									<a href="{{ author.url }}">{{ author.name }}</a>
								</h4>
							{% endfor %}
						{% endif %}
					</div>

					{% if (_config.settings.post.published_date) %}
						<div class="hy-article-meta">
							<div class="hy-article-meta-inner">
								<time class="hy-article-date" datetime="{{ _post.published_at | date('d-m-Y') }}">{{ _post.published_at | date('M d, Y') }}</time>
							</div>
						</div>
					{% endif %}
					<div class="hy-article-lang">
						{% if _post.variants | length > 1 %}
							{{ 'translations' | lang }}:
							<ul>
								{% for variant in _post.variants %}
									<li>
										<a href="{{ variant.url }}">
											{{ variant.language.name }}
										</a>
										{% if not loop.last %}{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</aside>

				{% if _post.featured_image_url and _config.settings.post.featured_image %}
					<figure class="hy-article-image">
						<img src="{{ _post.featured_image_url }}" alt="{{ _post.title }}">
					</figure>
				{% endif %}

			</header>

			<section class="hy-content hy-canvas">
				{{ _post.content | raw }}
			</section>

			{% if _route.name != 'page' %}

				{% if _newsletter %}
					<div class="post-newsletter">
						<h3>{{ 'newsletter' | lang }}</h3>
						<div>
							{{ _newsletter | template }}
						</div>
					</div>
				{% endif %}

				{% if _comments %}
					<div class="post-comments">
						<h3>{{ 'comments' | lang }}</h3>
						<div>{{ _comments | template }}</div>
					</div>
				{% endif %}

			{% endif %}

		</article>

		{% include "_next.twig" %}

	</main>

{% endblock %}
