{% extends '@base.twig' %}

{% block body %}

<main class="post-template gh-main">
    <article class="gh-article post">

        <header class="gh-article-header gh-canvas">

            <div class="gh-article-tags">
            {% if (_config.settings.post.tags) %}
            {% for tag in _post.tags %}
            <a class="gh-article-tag" href="{{ tag.url }}">{{ tag.name }}</a>
            {% endfor %}
            {% endif %}
            </div>
            
            <h1 class="gh-article-title">{{ _post.title }}</h1>

            <aside class="gh-article-sidebar">
                <div class="gh-author-image-list">
                    {% if (_config.settings.loop.authors) %}
                    {% for author in _post.authors %}
                    {% if author.picture_url %}
                    <a class="gh-author-image" href="{{ author.url }}">
                        <img src="{{ author.picture_url }}" alt="{{ author.name }}">
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="gh-author-name-list">
                    {% if (_config.settings.loop.authors) %}
                    {% for author in _post.authors %}
                    <h4 class="gh-author-name">
                        <a href="{{ author.url }}">{{ author.name }}</a>
                    </h4>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="gh-article-meta">
                    <div class="gh-article-meta-inner">
                        <time class="gh-article-date" datetime="{{ _post.published_at | date('d-m-Y') }}">{{ _post.published_at | date('M d, Y') }}</time>
                    </div>
                </div>
            </aside>

            {% if _post.featured_image_url and _config.settings.post.featured_image %}
                <figure class="gh-article-image">
                    <img src="{{ _post.featured_image_url }}" alt="{{ _post.title }}">
                </figure>
            {% endif %}

        </header>

        <section class="gh-content gh-canvas">
            {{ _post.content | raw }}
        </section>

        {% if _newsletter %}
        <div class="post-newsletter">
            <h3>{{ 'newsletter' | lang }}</h3>
            <div>
                {{ _newsletter | template }}
            </div>
        </div>
        {% endif %}

        {% if _comments %}
            <div class="post-comments">
                <h3>{{ 'comments' | lang }}</h3>
                <div>{{ _comments | template }}</div>
            </div>
        {% endif %}

    </article>

    {% include "_next.twig" %}

</main>

{% endblock %}