<!DOCTYPE html>
<html lang="{{ _lang.code }}" dir="{{ _lang.direction }}">
<head>

  <style>
    :root {
      --base-font-family: {{ _config.fonts.base_font_family | raw }};
      --base-font-size: {{ _config.size }}px;
      --base-font-style: {{ _config.style }};
      --base-font-weight: {{ _config.fonts.weight }};
      --base-line-height: {{ _config.fonts.line_height }};
      --border-thickness: {{ _config.border_thickness }}px;
      --aspect-ratio: {{ _config.settings.loop.aspect_ratio }};
      --image-filter: grayscale({{ _config.grayscale }}%);
      --link-font-weight: {{ _config.fonts.link_font_weight }};
    }
    .mode-light:root {
      --main-color: {{ _config.colors.light.main_color }};
      --secondary-color: {{ _config.colors.light.secondary_color }};
      --background-color: {{ _config.colors.light.background_color }};
      --background-hover-color: {{ _config.colors.light.background_hover_color }};
      --border-color: {{ _config.colors.light.border_color }};
      --code-color: {{ _config.colors.light.code_color }};
      --code-background-color: {{ _config.colors.light.code_background_color }};
      --toc-border-color: {{ _config.colors.light.toc_border_color }};
      --highlight-color: {{ _config.colors.light.highlight_color }};
    }
    .mode-dark:root {
      --main-color: {{ _config.colors.dark.main_color }};
      --secondary-color: {{ _config.colors.dark.secondary_color }};
      --background-color: {{ _config.colors.dark.background_color }};
      --background-hover-color: {{ _config.colors.dark.background_hover_color }};
      --border-color: {{ _config.colors.dark.border_color }};
      --code-color: {{ _config.colors.dark.code_color }};
      --code-background-color: {{ _config.colors.dark.code_background_color }};
      --toc-border-color: {{ _config.colors.dark.toc_border_color }};
      --highlight-color: {{ _config.colors.dark.highlight_color }};
    }
  </style>

  {{ _head | template }}

  <script src="{{ 'script.js' | asset_url }}"></script> 

</head>

<body>

{% include '_header.twig' %}

{% block body %}{% endblock %}

{% include '_search.twig' %}

{% include '_footer.twig' %}

{{ _foot | template }}
</body>