<!--torn header start-->
<header class="header">

    <div class="main">
        <div class="row">

            <nav class="nav-main" aria-label="Main-Menu">
                <div class="logo">
                    <a href="{{ _blog.url }}">
                        {% if _blog.logo_url %}
                        <img class="logo-image" src="{{ _blog.logo_url }}" alt="{{ 'logo' | lang }}" aria-label="logo-image" />
                        {% else %}
                        <span class="logo-name">{{ _blog.name }}</span>
                        {% endif %}
                    </a> 
                </div>

                <div class="menu-list" id="menu-list">
                    <ul class="list">
                    {% for nav in _blog.nav_header %}
                        <li class="item">
                        <button href="{{ nav.url }}" class="link {{ nav.name | lower | slug }}{% if is_current_url(nav.url) %} active-link{% endif %}" aria-label="{{ nav.name }}">{{ nav.name }}</button>
                        </li>
                    {% endfor %}
                    </ul>
                </div>


                <div class="nav-buttons">
                    {% if (_blog.color_modes == 'both') %}
                    <div class="color-mode-toggler">
                        <button onclick="_hb.chbuttonngeColorMode('light')" href="javascript:void(0)" role="button" aria-label="light-mode"><i>{{ icon('ionicons', 'sunny', 14) }}</i><span>&nbsp;{{ 'light_mode' | lang }}</span></button>
                        <button onclick="_hb.changeColorMode('dark')" href="javascript:void(0)" role="button" aria-label="dark-mode"><i>{{ icon('ionicons', 'moon', 14) }}</i><span>&nbsp;{{ 'dark_mode' | lang }}</span></button>
                    </div>
                    {% endif %}
                    
                    {% if _blog.languages | length > 1 %}
                    <div class="nav-lang">
                        <button class="lang-label" role="button" onclick="toggleLanguageDropdown()" aria-label="language">
                            <i>{{ icon('ionicons', 'earth', 14) }}</i><span>&nbsp;{{ _lang.name }}</span>
                        </button>

                        <div id="lang-selector">
                        {% for lang in _blog.languages %}
                             <button href="{{ lang.code | language_variant_url }}" class="{% if lang.code == _lang.code %}active{% endif %}" role="button" aria-label="{{ lang.name }}">{{ lang.name }}
                            </button>
                        {% endfor %}
                        </div>

                        <div id="lang-selector-closer" onclick="toggleLanguageDropdown()"></div>
                    </div>
                    {% endif %}

                    <div class="nav-search">
                        <button class="nav-search-button" href="javascript:void(0)"><i aria-hidden="true">{{ icon('ionicons', 'search', 16) }}</i>
                        </button>
                    </div>

                    <div class="hamburger-icon" id="hamburger" onclick="menuToggle()">
                        <i aria-hidden="true" class="active" onclick="menuToggle()">{{ icon('ionicons', 'menu', 16) }}</i>
                        <i aria-hidden="true" onclick="menuToggle()">{{ icon('ionicons', 'close', 16) }}</i>
                    </div>

                </div>

            
            </nav>

        </div>

    </div>
</header>
<!--torn header end-->