<!--torn header start-->
<header class="header">

	<div class="main">
		<div class="row">

			<nav class="nav-main" aria-label="Main-Menu">
				<div class="logo">
					<a href="{{ _blog.url }}" role="button">
						{% if _blog.logo_url %}
							<img class="logo-image" src="{{ _blog.logo_url }}" alt="{{ 'logo' | lang }}" aria-label="logo-image"/>
						{% else %}
							<span class="logo-name">{{ _blog.name }}</span>
						{% endif %}
					</a>
				</div>

				<div class="menu-list" id="menu-list">
					<ul class="list">
						{% for nav in _blog.nav_header %}
							<li class="item">
								<a href="{{ nav.url }}" class="link {{ nav.name | lower | slug }}{% if is_current_url(nav.url) %} active-link{% endif %}" aria-label="{{ nav.name }}" role="button">{{ nav.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>


				<div class="nav-buttons">
					{% if (_blog.color_modes == 'both') %}
						<div class="color-mode-toggler">
							<a onclick="_hb.changeColorMode('light')" href="javascript:void(0)" role="button" aria-label="light-mode" role="button">
								<i>{{ icon('ionicons', 'sunny', 14) }}</i>
								<span>&nbsp;{{ 'light_mode' | lang }}</span>
							</a>
							<a onclick="_hb.changeColorMode('dark')" href="javascript:void(0)" role="button" aria-label="dark-mode" role="button">
								<i>{{ icon('ionicons', 'moon', 14) }}</i>
								<span>&nbsp;{{ 'dark_mode' | lang }}</span>
							</a>
						</div>
					{% endif %}

					{% if _blog.languages | length > 1 %}
						<div class="nav-lang">
							<a class="lang-label" role="button" onclick="toggleLanguageDropdown()" aria-label="language">
								<i>{{ icon('ionicons', 'earth', 14) }}</i>
								<span>&nbsp;{{ _lang.name }}</span>
							</a>

							<div id="lang-selector">
								{% for lang in _blog.languages %}
									<a href="{{ lang.code | language_variant_url }}" class="{% if lang.code == _lang.code %}active{% endif %}" role="button" aria-label="{{ lang.name }}">{{ lang.name }}
									</a>
								{% endfor %}
							</div>

							<div id="lang-selector-closer" onclick="toggleLanguageDropdown()"></div>
						</div>
					{% endif %}

					<div class="nav-search">
						<a class="nav-search-button" href="javascript:void(0)" role="button" aria-label="search">
							<i aria-hidden="true">{{ icon('ionicons', 'search', 16) }}</i>
						</a>
					</div>

					<div class="hamburger-icon" id="hamburger-icon" onclick="menuToggle()">
						<i aria-hidden="true" class="active">{{ icon('ionicons', 'menu', 16) }}</i>
						<i aria-hidden="true">{{ icon('ionicons', 'close', 16) }}</i>
					</div>

				</div>


			</nav>

		</div>

	</div>
</header>
<!--torn header end-->
