<div class="post-loop">
    {% for post in _posts %}
        <div class="article-card">
            
            {% if post.featured_image_url and _config.settings.loop.featured_image %}
                <a class="img-wrap" href="{{ post.url }}">
                    <img src="{{ post.featured_image_url }}" alt="{{ post.title }}" />
                </a>
            {% endif %}
            
            <div class="post-meta-data">
                
                <a class="article" href="{{ post.url }}">
                    <h2>{{ post.title }}
                    {% if post.is_featured %}
                    <span class="featured">*</span>
                {% endif %}
                    </h2>
                </a>

                {% if post.description %}
                <p class="description">{{ post.description }}</p>
                {% endif %}

                {% if (_config.settings.loop.authors) %}
                    <div class="article-authors">
                        <span class="by-author">{{ 'by' | lang }}</span>
                        {% for author in post.authors %}
                        <a href="{{ author.url }}" class="article-author-link">{{ author.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="article-date">
                    <time class="date" datetime="{{ post.published_at | date('d-m-Y') }}">
                        {{ post.published_at | format_date('medium', locale=_lang.code) }}
                    </time>
                </div>

                {% if (_config.settings.loop.tags) %}
                <div class="article-tags">
                    {% for tag in post.tags %}
                    <a class="article-tag" href="{{ tag.url }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    {% endfor %}

</div> 

