{# <!DOCTYPE html> #}
<html lang="{{ _lang.code }}" dir="{{ _lang.direction }}">
	<head>

		<style>
		:root {
			--base-font-family: {{ _config.fonts.base_font_family | raw }};
			--base-font-size: {{ _config.fonts.size }}px;
			--base-font-weight: {{ _config.fonts.weight }};
			--base-line-height: {{ _config.fonts.line_height }};
			}
			

		.mode-light:root {
			--background-color: {{ _config.colors.light.background_color }};
			--main-color: {{ _config.colors.light.main_color }};
		}

		.mode-dark:root {
			--background-color: {{ _config.colors.dark.background_color }};
			--main-color: {{ _config.colors.dark.main_color }};
		}
		
		
		
	</style>
	{{ _head | template }}
	  <script src="{{ 'script.js' | asset_url }}"></script> 
	
</head>

<body>
	{% include '_header.twig' %}

	{% block body %}{% endblock %}

	{% include '_footer.twig' %}

{{ _foot | template }}
</body></html>
